.profile {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;  
    justify-content: flex-start;
    /* background-color: #959EA4; */
    background-color: white;
    padding: 45px;
    border-radius: 10px;


    &__input {
        width: 420px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid #DFE2E4;
        border-radius: 4px;

        padding: 15px;

        &--short {
            width: 205px;
        }

        &:valid {
            background-image: url("../../images/Icongalochka.png");
            background-repeat: no-repeat;
            background-position: right 10px center;
        }
        
    }





    &__label{
        display: block;
        margin-top: 15px;
    

    }
    .profile__label.required::after {
        content: '*';
        color: #FF7A00;
        margin-left: 5px;
    }





    &__menu {
        width: 660px;
        height: 50px;

        display: flex;
        
        padding: 3px;
        box-sizing:border-box;
        background-color: #F6F6F6;
        border-radius: 10px;

        .profile__menu-item {
            display: inline-block;  
            height: 44px;
            position: relative;
            padding: 0 15px;
            margin: 0px 2px;
            align-content: center;
            border-radius: 10px;
    
        }
    
        .profile__menu-item--active {
            font-weight: bold; 
            font: 'Roboto';
            font-weight: bold;
            background-color: white;
        }
    }



    
    




    &__phones{
        display: flex;
        gap: 15px;

        .profile__phones_item{
            display: flex;
            flex-direction: column;
            width: fit-content;
            flex-shrink: 0;
        }
    }



    &__gender-item {
        width: 130px;
        height: 50px;
        display: inline-block;
        box-sizing: border-box;

        border: 1px solid #DFE2E4;
        border-radius: 4px;

        padding: 15px;
        margin-right: 5px;
        text-align: start;
        align-content: center; 
        
        &--active {
            color:#FF7A00;
            border: 1px solid #FF7A00;
    
            background-image: url("../../images/Icongalochka.png" );
            background-repeat: no-repeat;
            background-position: right 10px center;
    
        }
    }






    &__save-button {
        height: 50px;
        width: 270px;
        box-sizing: border-box;

        text-align: center;
        vertical-align: middle;

        color: white;
        border: none;
        border-radius: 4px;
        background-color: #FF7A00;



        margin: 30px 0;
    }
}

select {
    height: 50px;
    width: 120px;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    padding: 15px;
    appearance: none;

    background-image: url("../../images/seraya-galochka.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    &__month {
        
        width: 160px;
    }
}