<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>    
    <!-- <link rel="stylesheet", href="."> -->
    <link rel="stylesheet", href="./sidebar.css">
    
</head>
<body>
    <h1>Мой кабинет</h1>

    <!-- <div class="office-page"> -->

    <div class="sidebar">
        <div class="sidebar-header">
            <img src="C:/Users/allga/FrontendProjects/html_studing/forma and sidebar/images/smiilik.png">
            <div>
                <div style="font-weight: bold;">Алихан Галачиев</div>
                <div>Покупатель</div>
            </div>
        </div>  

        

        <ul>
            
            <div class="sidebar-item">
                <div class="sidebar-item-choosed-indicator" style="visibility: visible;"></div>

                <div class="sidebar-item-text">Мой профиль</div>
            </div>
            <div class="sidebar-item">
                <div class="sidebar-item-choosed-indicator"></div>

                <div class="sidebar-item-text">Status Club</div>
            </div>
            <div class="sidebar-item">
                <div class="sidebar-item-choosed-indicator"></div>

                <div class="sidebar-item-text">Заказы</div>
            </div><div class="sidebar-item">
                <div class="sidebar-item-choosed-indicator"></div>

                <div class="sidebar-item-text">Избранные товары</div>
            </div>  
            <div class="sidebar-item">
                <div class="sidebar-item-choosed-indicator"></div>

                <div class="sidebar-item-text">Отзывы о товарах</div>
            </div>
            <div class="sidebar-item">
                <div class="sidebar-item-choosed-indicator"></div>

                <div class="sidebar-item-text">Выход</div>
            </div>
            
            
            
            
            
        </ul>
    </div>

        

</body>
</html>