<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>    
    <link rel="stylesheet", href=".">
    <link rel="stylesheet", href="./style.css">
    
</head>
<body>
    <h1>Мой кабинет</h1>

    <div class="office-page">

        <div class="sidebar">
            <!-- <div class="sidebar-header">
                <div style="font-weight: bold;">Алихан Галачиев</div>
                <div>Покупатель</div>
            </div> -->

            <div class="sidebar-header">
                
                <img src="C:/Users/allga/FrontendProjects/html_studing/forma and sidebar/images/smiilik.png">
                <div>
                    <div style="font-weight: bold;">Алихан Галачиев</div>
                    <div>Покупатель</div>
                </div>
            </div>  
            <ul>
                <div class="sidebar-item"><p>Мой профиль</p></div>
                <div class="sidebar-item"><p>Status Club</p></div>
                <div class="sidebar-item"><p>Заказы</p></div>
                <div class="sidebar-item"><p>Избранные товары</p></div>
                <div class="sidebar-item"><p>Отзывы о товарах</p></div>
                <div class="sidebar-item"><p>Выход</p></div>
            </ul>
        

        </div>

        <div class="forma">
            <h1>Мой профиль</h1>
            <div class="profile-menu-container">
                <div class="profile-menu-box" style="background-color: white;">
                    <p style="font-weight: bold; font: 'Roboto';">Личные данные</p>
                </div>
                <div class="profile-menu-box">
                    <p>Адрес доставки</p>
                </div>
                <div class="profile-menu-box">
                    <p>Пароль</p>
                </div>
            </div>
            <div class="fields-container" style="width:420px;">
                <label>E-mail</label>
                <div class="input-with-icon classic-border">example@mail.ru</div>
                <div class="phones-line"> 
                    <div style="padding-right: 15px;">
                        <label>Номер телефона</label>
                        <div  class="short-input-with-icon classic-border">8 800 555 35 35</div>
                    </div>
                    <div>
                        <label>Дополнительный номер</label>
                        <div  class="short-input-with-icon classic-border" style="background-image: none;"></div>
                    </div>
                </div>
                <label>Фамилия</label>
                <div class="input-with-icon classic-border">Галачиев</div>
                <label>Имя</label>
                <div class="input-with-icon classic-border">Алихан</div>
                <label>Отчество</label>
                <div class="input-with-icon classic-border">Маратович</div>
    
                <label>Дата рождения</label>
                <div class="birthday-container">
                    <div class="birthday-box classic-border" style="width: 120px;">
                        <p>1</p>
                    </div>
                    <div class="birthday-box classic-border" style="width: 160px;">
                        <p>Января</p>
                    </div>
                    <div class="birthday-box classic-border" style="width: 120px;">
                        <p>1998</p>
                    </div>
                </div>
    
                <label>Пол</label>
                <div>
                    <div class="gender-box classic-border">Мужской</div>
                    <div class="gender-box classic-border" style="background-image: none;">Женский</div>
                </div>
    
                <div class="save-button" style="border-radius: 10px;">
                    <p>Сохранить изменения</p>
                </div>
            </div>
        </div">

    </div>
        

</body>
</html>