<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>    
    <link rel="stylesheet", href="./style.css">
    
</head>
<body>
    <h1>Мой кабинет</h1>

    <div class="sidebar">
        <div class="sidebar-header">
            <img class="sidebar-img" src="C:\Users\allga\FrontendProjects\html_studing\forma and sidebar\images\smiilik.png" >
            
            <div>
                <p>Алихан Галачиев</p>
                <p>Покупатель</p>
            </div>
        </div>
        <div class="sidebar-item">Мой профиль</div>
        <div class="sidebar-item">Status Club</div>
        <div class="sidebar-item">Заказы</div>
        <div class="sidebar-item">Избранные товары</div>
        <div class="sidebar-item">Отзывы о товарах</div>
        <div class="sidebar-item">Выход</div>
    </div>

</body>
</html>