.forma__input {
    width: 420px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #DFE2E4;
    border-radius: 4px;

    /* background-image: url("C:/Users/allga/FrontendProjects/html_studing/forma and sidebar/images/Icongalochka.png" );
    background-repeat: no-repeat;
    background-position: right 20px center; */

    padding: 15px;
}
    
.forma__input--filled {
    background-image: url("C:/Users/allga/FrontendProjects/html_studing/forma and sidebar/images/Icongalochka.png" );
    background-repeat: no-repeat;
    background-position: right 20px center;
}


.forma__input--short {
    width: 205px;
    margin-right: 15px;
}



.forma__label{
    padding-top: 15px;
    padding-right: 15px;

    /* color: #959EA4; */
    
}

.forma__label--required::after{
    content: '*';
    color: #FF7A00;
    margin-left: 5px;
}

