
body{
    display: flex;
    flex: row;
    justify-content: center;
    background-color: #F9F9FA;
}



.cabinet__page{
    width: 1400px;

    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    padding: 100px;

    /* background-color: aquamarine; */

}
    
.cabinet__page h1 {
    align-self: flex-start;

}

.cabinet__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    margin: auto;

}