<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet", href="./style.css"/>
</head>
<body>
    <h1>Мой профиль</h1>
    <div class="profile-menu-container">
        <div class="profile-menu-box" style="background-color: white;">
            <p style="font-weight: bold;">Личные данные</p>
        </div>
        <div class="profile-menu-box">
            <p>Адрес доставки</p>
        </div>
        <div class="profile-menu-box">
            <p>Пароль</p>
        </div>
    </div>
    <div class="forma" style="width:420px;">
        <label>E-mail</label>
        <input type="text" class="input-with-icon classic-border">
        <div class="phones-line"> 
            <div style="padding-right: 15px;">
                <label>Номер телефона</label>
                <input type="text"  class="short-input-with-icon classic-border">
            </div>
            <div>
                <label>Дополнительный номер</label>
                <input type="text"  class="short-input-with-icon classic-border" style="background-image: none;">
            </div>
        </div>
        <label>Фамилия</label>
        <input type="text" class="input-with-icon classic-border">
        <label>Имя</label>
        <input type="text" class="input-with-icon classic-border">
        <label>Отчество</label>
        <input type="text" class="input-with-icon classic-border">

        <label>Дата рождения</label>
        <div class="birthday-container">
            <div class="birthday-box classic-border" style="width: 120px;"></div>
            <div class="birthday-box classic-border" style="width: 160px;"></div>
            <div class="birthday-box classic-border" style="width: 120px;"></div>
        </div>

        <label>Пол</label>
        <div>
            <div class="gender-box classic-border">Мужской</div>
            <div class="gender-box classic-border" style="background-image: none;">Женский</div>
        </div>

        <div class="save-button" style="border-radius: 10px;">
            <p>Сохранить изменения</p>
        </div>
    </div>

    
</body>
</html>