<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link rel="stylesheet", href="./style.css"/>
</head>
<body>
    <div class="forma">
        <h1>Мой профиль</h1>
        <div class="profile-menu-container">
            <div class="profile-menu-box" style="background-color: white;">
                <p style="font-weight: bold; font: 'Roboto';">Личные данные</p>
            </div>
            <div class="profile-menu-box">
                <p>Адрес доставки</p>
            </div>
            <div class="profile-menu-box">
                <p>Пароль</p>
            </div>
        </div>
        <div class="fields-container" style="width:420px;">
            <label>E-mail</label>
            <div class="input-with-icon form-items-border">example@mail.ru</div>
            <div class="phones-line"> 
                <div style="padding-right: 15px;">
                    <label>Номер телефона</label>
                    <div  class="short-input-with-icon form-items-border">8 800 555 35 35</div>
                </div>
                <div>
                    <label>
                        Дополнительный номер<br> *<br style="color: orange;"></label>
                    <div  class="short-input-with-icon form-items-border" style="background-image: none;"></div>
                </div>
            </div>
            <label>Фамилия</label>
            <div class="input-with-icon form-items-border">Галачиев</div>
            <label>Имя</label>
            <div class="input-with-icon form-items-border">Алихан</div>
            <label>Отчество</label>
            <div class="input-with-icon form-items-border">Маратович</div>

            <label>Дата рождения</label>
            <div class="birthday-container">
                <div class="birthday-box form-items-border" style="width: 120px;">
                    <p>1</p>
                </div>
                <div class="birthday-box form-items-border" style="width: 160px;">
                    <p>Января</p>
                </div>
                <div class="birthday-box form-items-border" style="width: 120px;">
                    <p>1998</p>
                </div>
            </div>

            <label>Пол</label>
            <div>
                <div class="gender-box form-items-border">Мужской</div>
                <div class="gender-box form-items-border" style="background-image: none;">Женский</div>
            </div>

            <div class="save-button" style="border-radius: 10px;">
                <p>Сохранить изменения</p>
            </div>
        </div>
    </div">

    
</body>
</html>